#content {
    position: absolute;
    left: 0;
    top: 56px;
    right: 0;
    bottom: 0;
    overflow-y: auto;

    margin-left: 40px;
    padding-top: 34px;
    padding-right: 80px;

    color: #474747;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    strong, b {
        color: rgb(71, 71, 71);
        font-weight: bold;
    }

    ul {
        padding-top: 5px;
        padding-left: 20px;
    }

    li {
        font-family: Monaco;
        font-size: 14px;
        color: #373737;
        line-height: 22px;
    }

    a {
        color: #428bca;

        &:hover {
            color: #2E618D;
        }
    }

    h1 {
        font-size: 28px;
        color: #474747;
        line-height: 34px;

        span {
            color: #808080;
        }
    }

    h2 {
        font-size: 22px;
        color: #808080;
        line-height: 27px;
        border-bottom: 1px solid #979797;
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    h4 {
        font-weight: bold;
        color: #474747;
        font-size: 16px;
        line-height: 22px;
        margin: 20px 0 0 0;
    }

    > .description {
        margin-left: 20px;
        margin-top: 39px;
        margin-bottom: 40px;

        p {
            margin-bottom: 22px;
        }
    }

    .code {
        font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
        color: rgb(71, 71, 71);
        font-size: 14px;
    }

    i.types i:first-child:before {
        content: '';
    }

    i.types i:before {
        content: ' | ';
    }

    i.types i:after {
        content: '';
    }

    .group {

        ul {
            margin: 5px 0 10px 20px;
            width: auto;
            list-style: none;

            li {
                color: #474747;
                line-height: 20px;
                display: list-item;
            }
        }
    }

    table.enum-fields, table.typedef-fields {
        width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse;
        border-spacing: 2px;
        border-color: gray;

        th, td {
            line-height: 20px;
            text-align: left;
            vertical-align: top;
            border-top: 1px solid #ddd;
            padding: 4px 5px;
        }
        
        th {
            font-weight: bold;
            border-top: none;
        }

        .name {
            color: #474747;
        }

        .value {
            color: #7E7E7E;
        }
    }
    
    .method, .function, .const {
        margin-bottom: 20px;
        
        h3 {
            font-size: 20px;
            line-height: 20px;
            font-weight: normal;
            padding: 10px 0 0 0;
        }

        > div {
            margin-top: 10px;
        }

        ul.overrides {

            display: block;
            padding-left: 0;

            li {
                margin-bottom:-1px;
                line-height:20px;
                display: inline-block;
                                  
                a {
                    padding-top: 4px;
                    padding-bottom: 4px;
                    border-radius: 4px 4px 0 0;
                    padding-right: 12px;
                    padding-left: 12px;
                    margin-right: 2px;
                    display: block;
                    font-family: Verdana,Helvetica,Arial,sans-serif;
                    font-size: 13px;

                    color: rgb(85, 85, 85);

                    &:hover {
                        border-color:#eee #eee #ddd;
                        background-color: #eee;
                        color: #2E618D;
                    }
                }

                &.active a {
                    background: #F1F1F1;
                    border: 1px solid #E8E8E8;
                    border-bottom-color: transparent;
                    color: #555;
                }
            }
        }

        .btn {
            display: inline-block;
            margin: 5px 0 0;
            color: #474747;
            border: 1px solid #ddd;
            padding: 0 7px;
            background: #F7F7F7;
            cursor: pointer;
            font-size: 14px;
            line-height: 20px;
            border-radius: 4px;

            &.active {
                background-color: rgb(232, 232, 232);
            }
        }

        .code-listing, .detailed > div {
            color: #474747;
            font-size: 13px;
            line-height: 17px;
            background: #F7F7F7;
            border: 1px solid #ddd;
            margin: 5px 0;
            border-radius: 4px;
            padding: 8px 35px 8px 14px;
            position: relative;

            h4 {
                margin-top: 0px;
                margin-bottom: 10px;
            }
            
            .close {
                position: absolute;
                top: 6px;
                right: 10px;
                line-height: 20px;
                cursor: pointer;
                opacity: .2;
                color: black;
                font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                font-size: 16px;
                font-weight: bold;
            }
        }

        .detailed li {
            line-height: 16px;
            font-size:13px;
            font-family: inherit;

            b {
                font-family: Monaco;
            }
        }

        div.overrides {
            background: #F1F1F1;
            padding: 10px 10px 20px 10px;
            border: 1px solid #E8E8E8;
            border-top: none;

            .since {
                float:right;
                margin: 0 0 10px 0;
                font-family: Verdana,Helvetica,Arial,sans-serif;
                font-size: 13px;
                color: #595959;
            }

            > div {
                display: none;

                &.active {
                    display: block;
                }

                > p {
                    margin-bottom: 20px;
                }

                &.active {
                    display: block;
                }
            }

            .params {
                background: #F7F7F7;
                border: 1px solid #ddd;
                border-collapse: separate;
                border-spacing: 0;
                border-left: 0;
                border-radius: 4px;
                width: 100%;
                margin-bottom: 20px;

                th {
                    border-left:1px solid #ddd;
                    font-weight: bold;
                    padding: 8px;
                    line-height: 20px;
                    text-align: left;
                }

                th:first-child {
                    border-top-left-radius: 4px;
                }

                th:last-child {
                    border-top-right-radius: 4px;
                }

                .name { width: 150px; }

                tbody td {
                    border-left:1px solid #ddd;
                    padding: 8px;
                    line-height: 20px;
                    text-align: left;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                }
            }

            .returns {
                margin: 20px 0 0 0;
                background: #F7F7F7;
                border: 1px solid #ddd;
                padding: 8px;
                border-radius: 4px;

                .b {
                    font-weight: bold;
                }
            }

            .listings {
                margin-top: 10px;
            }

            .playground {
                margin-top: 10px;
                padding-left: 10px;
                a {
                    color: rgb(66, 139, 202);
                }
            }
        }
    }
}
