
.icon-facebook-squared:before { content: '\e800'; } /* '' */
.icon-twitter-squared:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-down-dir:before { content: '\e805'; } /* '' */
.icon-help-circled:before { content: '\e806'; } /* '' */
.icon-info-circled:before { content: '\e807'; } /* '' */
.icon-code:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */