@import "content-header";

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
}

#content {
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0;
    top: 60px;
    overflow-y: scroll;
    padding-left: 37px;
    padding-right: 30px;
    padding-top: 10px;
    overflow: auto;

    color: #474747;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    h1 {
	color: #474747;
	font-weight: normal;
	line-height: 30px;
	font-size: 28px;
	margin: 20px 0;
    }

    p {
	margin-bottom: 10px;
    }

    h2 {
	font-weight: normal;
	color: #929292;
	font-size: 22px;
	line-height: 26px;
	margin: 10px 0;
    }

    label.checkbox {
	padding-top: 5px;
	margin-bottom: 0;
	min-height: 20px;
	padding-right: 10px;
    }

    > div {
	margin: 0 0 20px 0;
	padding: 0 0 20px 0;
    }

    .line-bottom {
	border-bottom: 1px solid #d1d1d1;
    }

    h3 {
	font-size: 20px;
	line-height: 20px;
	font-weight: normal;
    }

    .method {
	.description {
	    margin: 10px 0 0 40px;
	    font-size: 14px;
	    background: #F1F1F1;
	    padding: 10px 10px 20px 10px;
	    border: 1px solid #E8E8E8;
	}

	.params {
	    padding-left: 10px;
	}

	i.types i:before {
	    content: ' | {';
	}
	
	i.types i:first-child:before {
	    content: '{';
	}

	i.types i:after {
	    content: '}';
	}

	.return {
	    padding-left: 10px;
	}
    }

    h4 {
	font-weight: bold;
    }
}