@import "content-header";

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 300px;
    right: 0;
}

#content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 60px;
    overflow-y: scroll;
    padding-left: 37px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: auto;

    color: #474747;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;

    h1 {
	color: #474747;
	font-weight: normal;
	line-height: 30px;
	font-size: 28px;
	margin: 20px 0;
    }

    p {
	margin-bottom: 10px;
    }
}