.breadcrumb {
  border-radius: 0;
  background: #F8F8F8;
  border-bottom: 1px solid #f1f1f1;
  margin: 0;
  font-size: 14px;
  position: fixed;
  width: 100%;
  z-index: 5;
  top: 60px;
  left: 300px;
  min-height: 37px;
  a {
    color: #323c44;
  }
}