#footer {
  height: 70px;
  background: #f6f6f6;
  bottom: 0;
  width: 100%;
  position: absolute;
  overflow: hidden;
  #footer-inner {
    border-top: 1px solid #dddddd;
    margin: 0 25px;
    font-size: 12px;
    padding: 10px 0;

    a.soc-network {
      display: inline-block;
      .soc-network-icon {
        font-size: 20px;
        display: inline-block;
        margin-right: 10px;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 50%;
        color: #929292;
        border: 2px solid #929292;
        position: relative;
        .sn-mini-icon {
          font-size: 20px !important;
          position: absolute;
          top: 3px;
          left: 3px;
        }
      }

      &:hover {
        text-decoration: none;
        color: #fff;
      }
      &:focus .soc-network-icon.fb, &:hover .soc-network-icon.fb {
        background: #3a5bad;
        border-color: #3a5bad;
        color: #fff;
      }
      &:focus .soc-network-icon.tw, &:hover .soc-network-icon.tw {
        background: #1dcbea;
        border-color: #1dcbea;
        color: #fff;
      }
      &:focus .soc-network-icon.in, &:hover .soc-network-icon.in {
        background: #1182c9;
        border-color: #1182c9;
        color: #fff;
      }
    }

    p {
      padding: 5px 0 15px 0;
      color: #929292;
    }
  }
}