  {{#kind.namespace}}
    {{>ns-part}}
  {{/kind.namespace}}
  {{#kind.enum}}
    {{>enum-part}}
  {{/kind.enum}}
  {{#kind.class}}
    {{>class-part}}
  {{/kind.class}}
  {{#kind.typedef}}
    {{>typedef-part}}
  {{/kind.typedef}}