<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./i/favicon.ico" type="image/x-icon">
    <title>API Reference - AnyChart</title>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    {{#debug}}
      <script src="/dev/react/react.js"></script>
      <link rel="stylesheet" href="/dev/css/styles.css?v={{version}}" />
      <link href="/fonts/font-awesome.css" rel="stylesheet">
      <script src="/dev/goog/base.js"></script>
      <script src="/dev/deps.js"></script>
      <script>
        goog.require('app');
      </script>
    {{/debug}}
    {{^debug}}
      <script src="/min/react.min.js"></script>
      <link rel="stylesheet" href="/min/styles.css?v={{version}}" />
      <link rel="stylesheet" href="/fonts/font-awesome.css" />
      <script src="/min/app.min.js"></script>
    {{/debug}}
    <meta name="keywords" content="anychart, charts, javascript charts, ajax charts, mobile charts, line charts, bar charts, pie charts, javascript plots, dashboard, reporting, html5, js"/>
    <meta name="description" content="AnyChart - Interactive JavaScript charts and dashboards for your projects. Mobile-ready solution for business intelligence, data visualisation and reporting."/>
    <meta property=og:title content="AnyChart - Interactive JavaScript charts and dashboards for your projects."/>
    <meta property=og:type content=website />
    <meta property=og:site_name content=AnyChart />
    <meta property=og:description content="AnyChart: Interactive JavaScript charts and business dashboards for your projects. Mobile-ready solution for business intelligence, data visualisation and reporting."/>
  </head>
  <body>
    <div id="sidebar">
      <div class="header">
	<img src="/i/small_logo_white.png" />
	<div>
	  <h1>AnyChart</h1>
	  <h6>api reference</h6>
	</div>
      </div>
      <div id="search"></div>
      <ul class="tree" id="tree">
        Loading...
      </ul>
      <div class="footer">
	<a href="https://twitter.com/anychart" target="_blank"><i class="fa fa-twitter-square"></i></a>
	<a href="https://www.facebook.com/AnyCharts" target="_blank"><i class="fa fa-facebook-square"></i></a>
	<p>&copy; 2014 AnyChart.Com All rights reserved.</p>
      </div>
      <div id="resizer"></div>
    </div>
    <div id="main">
      <div class="header">
	<ul class="path">
	  <li>Home <span>/</span></li>
	  <li id="current-path">{{main.full-name}}</a></li>
	</ul>
	<div class="right">
	  <a class="version" id="version-toggler" href="#">Version {{v}} <i class="fa fa-caret-down"></i></a>
          <ul id="version-toggle" style="display:none">
            {{#versions}}
              <li><a href="/{{project}}/{{.}}/{{default-ns}}">Version {{.}}</a></li>
            {{/versions}}
          </ul>
	  <div class="support-icon"><i class="fa fa-question-circle"></i></div>
	  <div class="meta">
	    <p>Still have questions?</p>
	    <a href="//support.anychart.com">Contact support</a>
	  </div>
	</div>
      </div>
      <div id="content">
        {{#kind.namespace}}
	  {{>ns-part}}
        {{/kind.namespace}}
        {{#kind.enum}}
          {{>enum-part}}
        {{/kind.enum}}
        {{#kind.class}}
          {{>class-part}}
        {{/kind.class}}
        {{#kind.typedef}}
          {{>typedef-part}}
        {{/kind.typedef}}
      </div>
    </div>
    <div id="locker" style="display:none"></div>
    <script>
      app.init("{{project}}", "{{v}}", {{&tree}});
    </script>

    <!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5B8NXZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B8NXZ');</script>
<!-- End Google Tag Manager -->
  </body>
</html>
