<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
    <title>API Reference - AnyChart</title>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    <link rel="stylesheet" href="/css/reference.css?v={{static-version}}" />
    <link rel="stylesheet" href="/fonts/css/playground.css">
    <link rel="stylesheet" href="/fonts/css/animation.css">
    <!--[if IE 7]><link rel="stylesheet" href="/fonts/css/playground-ie7.css"><![endif]-->
    {{#debug}}
    <script src="/js/app.js?v={{static-version}}"></script>
    <script type='text/javascript' id='lt_ws' src='http://localhost:57438/socket.io/lighttable/ws.js'></script>
    {{/debug}}
    {{^debug}}
    <script src="/js/app.min.js?v={{static-version}}"></script>
    {{/debug}}
    <!-- metas -->
    <meta name="keywords" content="anychart, charts, javascript charts, ajax charts, mobile charts, line charts, bar charts, pie charts, javascript plots, dashboard, reporting, html5, js"/>
    <meta name="description" content="AnyChart - Interactive JavaScript charts and dashboards for your projects. Mobile-ready solution for business intelligence, data visualisation and reporting."/>
    <meta property=og:title content="AnyChart - Interactive JavaScript charts and dashboards for your projects."/>
    <meta property=og:type content=website />
    <meta property=og:site_name content=AnyChart />
    <meta property=og:description content="AnyChart: Interactive JavaScript charts and business dashboards for your projects. Mobile-ready solution for business intelligence, data visualisation and reporting."/>
  </head>
  <body>
    <div id="main">
      <div id="sidebar">
        <div id="logo">
          <img src="/img/logo.png" width="56" height="55" />
          <div>
            <h1>AnyChart</h1>
            <h2>api reference</h2>
          </div>
        </div>
        <div id="search-bar">
        </div>
        <div id="search-results"></div>
        <div id="tree">
          Loading...
        </div>
        <div id="sidebar-footer">
          <a class="twitter" href="https://twitter.com/anychart" target="_blank"><i class="icon-twitter-squared"></i></a>
          <a class="facebook" href="https://www.facebook.com/AnyCharts" target="_blank"><i class="icon-facebook-squared"></i></a>
          <p>&copy; 2015 AnyChart.Com All rights reserved.</p>
        </div>
         <div id="resizer"></div>
      </div>
      <div id="body">
        <div id="body-header">
          <ul class="path">
            <li><a href="/{{version}}">Home</a><span>/</span></li>
            <li id="path-ns"><a href="#"></a><span>/</span></li>
            <li id="path-class" style="display:none"><a href="#"></a></li>
          </ul>
          <div class="right">
            <ul id="versions" style="display:none">
              {{#versions}}
                <li><a href="/{{.}}/try/{{page}}">Version {{.}}</a></li>
              {{/versions}}
            </ul>
            <a id="version" href="#">Version {{version}}<i class="icon-down-dir"></i></a>
            <a class="help"><i class="icon-help-circled"></i></a>
            <div>
              <span>Still have questions?</span>
              <a href="/">Contact support</a>
            </div>
          </div>
        </div>
        <div id="content">
          <a id="top"></a>
          {{&content}}
        </div>
      </div>
    </div>
    <div id="locker" style="display:none"></div>
    <script>
      app.core.init("{{version}}", "{{page}}", {{&info}});
      {{#debug}}
        app.core.connect_repl();
      {{/debug}}
    </script>
<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-5B8NXZ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5B8NXZ');</script>
<!-- End Google Tag Manager -->
  </body>
</html>
