<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="./i/favicon.ico" type="image/x-icon">
    <title>API Reference - AnyChart</title>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    {{#debug}}
    <script src="/dev/react/react.js"></script>
    <link rel="stylesheet" href="/dev/css/styles.css?v={{version}}" />
    <link href="/fonts/font-awesome.css" rel="stylesheet">
    <script src="/dev/goog/base.js"></script>
    <script src="/dev/deps.js"></script>
    <script>
      goog.require('app');
    </script>
    {{/debug}}
  </head>
  <body>
    <div id="sidebar">
      <div class="header">
	<img src="/i/small_logo_white.png" />
	<div>
	  <h1>AnyChart</h1>
	  <h6>api reference</h6>
	</div>
      </div>
      <div class="search">
	<i class="fa fa-search"></i>
	<div>
	  <input type="text" placeholder="search for method in the tree " />
	</div>
      </div>
      <ul class="tree">
	{{#namespaces}}
	  <li><a href="{{#link}}{{.}}{{/link}}"><i class="fa fa-chevron-right"></i>{{.}}</a></li>
	{{/namespaces}}
      </ul>
      <div class="footer">
	<a href="https://twitter.com/anychart" target="_blank"><i class="fa fa-twitter-square"></i></a>
	<a href="https://www.facebook.com/AnyCharts" target="_blank"><i class="fa fa-facebook-square"></i></a>
	<p>&copy; 2014 AnyChart.Com All rights reserved.</p>
      </div>
      <div id="resizer"></div>
    </div>
    <div id="main">
      <div class="header">
	<ul class="path">
	  <li><a href="/">Home</a><span>/</span></li>
	  <li>{{main.full-name}}</a></li>
	</ul>
	<div class="right">
	  <a class="version" id="version-toggler" href="#">Version {{v}} <i class="fa fa-caret-down"></i></a>
          <ul id="version-toggle" style="display:none">
            {{#versions}}
              <li><a href="/{{project}}/{{.}}/{{default-ns}}">Version {{.}}</a></li>
            {{/versions}}
          </ul>
	  <div class="support-icon"><i class="fa fa-question-circle"></i></div>
	  <div class="meta">
	    <p>Still have questions?</p>
	    <a href="//support.anychart.com">Contact support</a>
	  </div>
	</div>
      </div>
      <div id="content">
        {{#kind.namespace}}
	  {{>ns-part}}
        {{/kind.namespace}}
        {{#kind.enum}}
          {{>enum-part}}
        {{/kind.enum}}
        {{#kind.class}}
          {{>class-part}}
        {{/kind.class}}
        {{#kind.typedef}}
          {{>typedef-part}}
        {{/kind.typedef}}
	{{!main}}
	</div>
      </div>
      </div>
    <div id="locker" style="display:none"></div>
    <script>
      app.init();
    </script>
  </body>
</html>
