<div class="head">
  <h1>{{main.full-name}} class</h1>
  <p>{{#main.has-extends}}extends 
    {{#main.extends}}<a class="type-link" href="{{#link}}{{.}}{{/link}}">{{.}}</a>{{/main.extends}}
  {{/main.has-extends}}</p>
  <p>{{&main.description}}</p>
  {{>examples}}
</div>

<div class="line-bottom">
  {{#main.has-methods}}
    <h2>Methods</h2>
    {{#main.methods}}{{>method-part}}{{/main.methods}}
  {{/main.has-methods}}

  {{#main.has-inhertied-methods}}
    <h2>Inhertied methods</h2>
    {{#main.inherited-methods}}{{>method-part}}{{/main.inherited-methods}}
  {{/main.has-inherited-methods}}
</div>
