<div class="const">
  <h3 id="{{name}}">{{name}}</h3>
  <div>
    <ul class="overrides">
      <li class="active"><a href="#{{name}}">{{name}}</a></li>
    </ul>
    <div class="overrides">
      <div class="active">
        {{#has-since}}
        <div class="since">Since version {{since}}</div>
        {{/has-since}}
        <p>
          {{&description}}
          {{#has-detailed}}
          <div class="detailed">
            <a href="#{{name}}" class="btn"><i class="icon-info-circled"></i> Detailed description</a>
            <div>
              <a class="close">x</a>
              <p>{{&detailed}}</p>
            </div>
          </div>
          {{/has-detailed}}
        </p>
        {{>listing-part}}
        {{>samples-part}}
      </div>
    </div>
  </div>
</div>
