<div class="const">
  <h3 id="{{name}}">{{name}}</h3>
  <div>
    <ul class="overrides">
      <li class="active"><a href="#{{name}}">{{name}}</a></li>
    </ul>
    <div class="overrides">
      <div class="active">
        {{#has-since}}
        <div class="since">Since version {{since}}</div>
        {{/has-since}}
        <p>
          {{&description}}
          {{#has-detailed}}
          <div class="detailed">
            <a href="#{{name}}" class="btn"><i class="icon-info-circled"></i> Detailed description</a>
            <div>
              <a class="close">x</a>
              <p>{{&detailed}}</p>
            </div>
          </div>
          {{/has-detailed}}
        </p>
        {{#has-listings}}
        <div class="listings">
          <strong>Code listings:</strong>
          {{#listings}}
            <a class="btn"><i class="icon-code"></i> {{name}}</a>
          {{/listings}}
        </div>
        {{/has-listings}}
        {{#has-playground-samples}}
        <div class="playground">
          <strong>Try it in playground:</strong>
          {{#playground-samples}}
          <a class="btn" href="{{link}}"><i class="icon-play"></i> {{name}}</a>
          {{/playground-samples}}
        </div>
        {{/has-playground-samples}}
      </div>
    </div>
  </div>
</div>
