<h1><span>[enum]</span> {{main.full-name}}</h1>
<div class="description">
    {{&main.description}}
    {{#main}}
        {{>listing-part}}
        {{>samples-part}}
    {{/main}}
</div>

{{#main.has-fields}}
<table class="enum-fields">
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#main.fields}}
    <tr>
      <td class="name">{{name}}</td>
      <td class="value">{{value}}</td>
      <td>{{&description}}</td>
    </tr>
  {{/main.fields}}
  </tbody>
</table>
{{/main.has-fields}}
