<div class="head">
  <h1>{{main.full-name}}{{#main.has-type}}{{#main.type}} {{.}}{{/main.type}}{{/main.has-type}} enum</h1>
  <p>{{&main.description}}</p>
</div>

{{#main.has-fields}}
<ul class="enum-fields">
  {{#main.fields}}
    <li><span>{{name}} = {{value}}</span>{{#has-description}} - {{&description}}{{/has-description}}</li>
  {{/main.fields}}
</ul>
{{/main.has-fields}}