{{#has-examples}}
  <h4>samples:</h4>
  {{#examples}}
    <div class="code-sample-wrapper">
    {{#has-topbar}}
    <div class="sample-topbar">
      {{#has-caption}}<div class="sample-caption">{{caption}}</div>{{/has-caption}}
      {{#has-link}}<a href="{{link}}" target="_blank">Run in playground</a>{{/has-link}}
    </div>
    {{/has-topbar}}
    <div class="code-sample">{{code}}</div>
    </div>
  {{/examples}}
{{/has-examples}}
