<div class="reg">
  <h3 id="{{name}}">{{name}}{{params-signature}}</h3>
  {{#is-inherited}}
    Inherited from {{#type-link}}{{inherited-from}}{{/type-link}}
  {{/is-inherited}}
  <div class="description">
    {{#members}}
      <div class="member">
        <p>{{&description}}</p>
        {{#has-params}}
          <h4>params:</h4>
          <ul class="params">
	    {{#params}}
	      <li>{{name}} <i class="types">{{#type}}<i>{{#type-link}}{{.}}{{/type-link}}</i>{{/type}}</i> {{&description}}</li>
	    {{/params}}
          </ul>
        {{/has-params}}
        {{#has-returns}}
          <h4>returns:</h4>
	  <ul class="return">
            {{#returns}}
              <li>
	        <i class="types">{{#type}}<i>{{#type-link}}{{.}}{{/type-link}}</i>{{/type}}</i> {{&description}}
              </li>
            {{/returns}}
          </ul>
        {{/has-returns}}
      </div>
      {{/#members}}
  </div>
</div>