        {{#has-listings}}
        <div class="listings">
          <strong>Code:</strong>
          {{#listings}}
            <a class="btn" href="#listing-{{id}}"><i class="icon-code"></i> {{title}}</a>
          {{/listings}}
          {{#listings}}
            <div id="listing-{{id}}" class="code-listing" style="display:none">
              <a class="close">x</a>
              <h4>{{title}}</h4>
              <div>{{&code}}</div>
            </div>
          {{/listings}}
        </div>
        {{/has-listings}}
