<div class="method">
  <h3 id="{{name}}">{{name}}</h3>
  {{#is-inherited}}
    Inherited from {{#type-link}}{{inherited-from}}{{/type-link}}
  {{/is-inherited}}
  <div>
    <ul class="overrides">
    {{#overrides}}
      <li><a href="#{{name}}">{{signature}}</a></li>
    {{/overrides}}
    </ul>
    <div class="overrides">
    {{#overrides}}
      <div>
        {{#has-since}}
        <div class="since">Since version {{since}}</div>
        {{/has-since}}
        <p>
          {{&description}}
          {{#has-detailed}}
          <div class="detailed">
            <a href="#{{name}}" class="btn"><i class="icon-info-circled"></i> Detailed description</a>
            <div>
              <a class="close">x</a>
              <p>{{&detailed}}</p>
            </div>
          </div>
          {{/has-detailed}}
        </p>
        {{#has-params}}
        <table class="params">
          <thead>
            <tr>
              <th>Params</th>
              <th>Type</th>
              <th>Default</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            {{#params}}
              <tr>
                <td class="name code">{{name}}</td>
                <td class="type"><i class="types">{{#types}}<i>{{#type-link}}{{.}}{{/type-link}}</i>{{/types}}</i></td>
                <td class="val">{{default}}</td>
                <td class="description">{{&description}}</td>
              </tr>
            {{/params}}
          </tbody>
        </table>
        {{/has-params}}
        {{#has-returns}}
        <div class="returns">
          {{#returns}}
          <span class="b">Returns:</span> <i class="types">{{#types}}<i>{{#type-link}}{{.}}{{/type-link}}</i>{{/types}}</i>
          {{/returns}}
        </div>
        {{/has-returns}}
        {{#has-listings}}
        <div class="listings">
          <strong>Code listings:</strong>
          {{#listings}}
            <a class="btn"><i class="icon-code"></i> {{name}}</a>
          {{/listings}}
        </div>
        {{/has-listings}}
        {{#has-playground-samples}}
        <div class="playground">
          <strong>Try it in playground:</strong>
          {{#playground-samples}}
          <a class="btn" target="_blank" href="{{#playground-link}}{{.}}{{/playground-link}}"><i class="icon-play"></i> {{.}}</a>
          {{/playground-samples}}
        </div>
        {{/has-playground-samples}}
      </div>
    {{/overrides}}
    </div>
  </div>
</div>
