  <h1><span>namespace</span> {{main.full-name}}</h1>
  <div class="description">
    {{&main.description}}
    {{#main.has-constants}}
    <div class="group">
      <h4>Constants:</h4>
      <ul>
        {{#main.constants}}
        <li>
          <a class="type-link" href="#{{name}}"><span>{{name}}</span></a></li>
        {{/main.constants}}
      </ul>
    </div>
    {{/main.has-constants}}

    {{#main.has-functions}}
    <div class="group">
      <h4>Functions:</h4>
      <ul>
        {{#main.functions}}
        <li>
          <a class="type-link" href="#{{name}}"><span>{{name}}()</span></a></li>
        {{/main.functions}}
      </ul>
    </div>
    {{/main.has-functions}}

    {{#main.has-enums}}
    <div class="group">
      <h4>Enums:</h4>
      <ul>
        {{#main.enums}}
        <li>
          <a class="type-link" href="{{#link}}{{name}}{{/link}}"><span>{{name}}</span></a></li>
        {{/main.enums}}
      </ul>
    </div>
    {{/main.has-enums}}

    {{#main.has-typedefs}}
    <div class="group">
      <h4>Typedefs:</h4>
      <ul>
        {{#main.typedefs}}
        <li>
          <a class="type-link" href="{{#link}}{{name}}{{/link}}"><span>{{name}}</span></a></li>
        {{/main.typedefs}}
      </ul>
    </div>
    {{/main.has-typedefs}}

    {{#main.has-classes}}
    <div class="group">
      <h4>Classes:</h4>
      <ul>
        {{#main.classes}}
        <li>
          <a class="type-link" href="{{#link}}{{name}}{{/link}}"><span>{{name}}</span></a></li>
        {{/main.classes}}
      </ul>
    </div>
    {{/main.has-classes}}
  </div>

{{#main.has-functions}}
<h2>Functions</h2>
{{#main.functions}}{{>fn-part}}{{/main.functions}}
{{/main.has-functions}}

{{#main.has-constants}}
<h2>Constants</h2>
{{#main.constants}}{{>const-part}}{{/main.constants}}
{{/main.has-constants}}
