<div class="head">
  <h1>{{main.full-name}}</h1>
  <p>{{&main.description}}</p>
  {{>examples}}
  {{#main.has-classes}}
    <h3>Classes:</h3>
    <ul>
      {{#main.classes}}<li><a class="type-link" href="{{#link}}{{.}}{{/link}}"><span>{{.}}</span></a></li>{{/main.classes}}
    </ul>
  {{/main.has-classes}}
  {{#main.has-typedefs}}
    <h3>Typedefs:</h3>
    <ul>
      {{#main.typedefs}}<li><a class="type-link" href="{{#link}}{{.}}{{/link}}"><span>{{.}}</span></a></li>{{/main.typedefs}}
    </ul>
  {{/main.has-typedefs}}
  {{#main.has-enums}}
    <h3>Enums:</h3>
    <ul>
      {{#main.enums}}<li><a class="type-link" href="{{#link}}{{.}}{{/link}}"><span>{{.}}</span></a></li>{{/main.enums}}
    </ul>
  {{/main.has-enums}}
</div>

<div class="line-bottom">
  {{#main.has-constants}}
    <h2>Constants</h2>
    {{#main.constants}}
      <div class="reg">
        <h3 id="{{name}}">{{name}}</h3>
        <div class="description">
          {{#members}}
          <div class="member">
	    <p>{{&description}}</p>
            {{>examples}}
          </div>
          {{/members}}
        </div>
      </div>
    {{/main.constants}}
  {{/main.has-constants}}
  {{#main.has-functions}}
    <h2>Functions</h2>
    {{#main.functions}}
      {{>fn-part}}
    {{/main.functions}}
  {{/main.has-fuctions}}
</div>
