<div class="head">
  <h1>{{main.full-name}}</h1>
  <p>{{&main.description}}</p>
  {{#main.has-classes}}
    <h3>Classes:</h3>
    <ul>
      {{#main.classes}}<li><a href="/{{full-name}}"><span>{{full-name}}</span></a></li>{{/main.classes}}
    </ul>
  {{/main.has-classes}}
  {{#main.has-typedefs}}
    <h3>Typedefs:</h3>
    <ul>
      {{#main.typedefs}}<li><a href="/{{full-name}}"><span>{{full-name}}</span></a></li>{{/main.typedefs}}
    </ul>
  {{/main.has-typedefs}}
  {{#main.has-enums}}
    <h3>Enums:</h3>
    <ul>
      {{#main.enums}}<li><a href="/{{full-name}}"><span>{{full-name}}</span></a></li>{{/main.enums}}
    </ul>
  {{/main.has-enums}}
</div>

<div class="line-bottom">
  {{#main.has-constants}}
    <h2>Constants</h2>
    {{#main.constants}}
      <div class="reg">
        <h3>{{name}}</h3>
        <div class="description">
	  {{&description}}
        </div>
      </div>
    {{/main.constants}}
  {{/main.has-constants}}
  {{#main.has-functions}}
    <h2>Functions</h2>
    {{#main.functions}}
      {{>fn-part}}
    {{/main.functions}}
  {{/main.has-fuctions}}
</div>