        {{#has-playground-samples}}
        <div class="playground">
          <strong>Try it in playground:</strong>
          {{#playground-samples}}
          <a class="btn" target="_blank" href="{{#playground-link}}{{file}}{{/playground-link}}"><i class="icon-play"></i> {{title}}</a>
          {{/playground-samples}}
        </div>
        {{/has-playground-samples}}
