<h1><span>{typedef}</span> {{main.full-name}}</h1>
<div class="description">
  {{&main.description}}
</div>
{{#main.has-types}}
This type can contains one of the following types:
<ul>
  {{#main.type}}
  <li>{{#type-link}}{{.}}{{/type.link}}</li>
  {{/main.type}}
</ul>
{{/main.has-types}}
{{#main.has-properties}}
<table class="typedef-fields">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
  {{#main.properties}}
  <tr>
    <td class="name">{{name}}</td>
    <td class="value">{{type}}</td>
    <td>{{&description}}</td>
  </tr>
  {{/main.properties}}
  </tbody>
</table>
{{/main.has-properties}}
