/* line 1, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree {
  list-style: none;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 14px;
}
/* line 6, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree ul {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}
/* line 13, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree > ul {
  margin-left: 0px;
}
/* line 17, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree li {
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: px;
}
/* line 24, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a {
  color: #D4D4D4;
  font-weight: bold;
  white-space: nowrap;
}
/* line 29, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a i {
  margin-right: 8px;
}
/* line 33, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a:hover {
  color: white;
}

/* line 3, ../../../../src-scss/sidebar.scss */
#sidebar {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #474747;
  font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* line 13, ../../../../src-scss/sidebar.scss */
#sidebar .header {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 17, ../../../../src-scss/sidebar.scss */
#sidebar .header img {
  width: 60px;
  display: inline-block;
}
/* line 22, ../../../../src-scss/sidebar.scss */
#sidebar .header div {
  position: absolute;
  left: 20px;
  top: 10px;
}
/* line 27, ../../../../src-scss/sidebar.scss */
#sidebar .header div h1 {
  font-weight: normal;
  line-height: 26px;
  font-size: 24px;
  padding-left: 70px;
  padding-top: 15px;
  margin: 0 0 0 10px;
  color: white;
}
/* line 37, ../../../../src-scss/sidebar.scss */
#sidebar .header div h6 {
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  padding-left: 70px;
  margin: 0 0 0 10px;
  color: #B8B8B8;
}
/* line 48, ../../../../src-scss/sidebar.scss */
#sidebar #search {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  position: relative;
  height: 30px;
}
/* line 56, ../../../../src-scss/sidebar.scss */
#sidebar #search i {
  color: #fff;
  font-size: 14px;
  margin-top: 8px;
}
/* line 62, ../../../../src-scss/sidebar.scss */
#sidebar #search .search div {
  position: absolute;
  right: 40px;
  left: 23px;
  top: 0;
}
/* line 69, ../../../../src-scss/sidebar.scss */
#sidebar #search input {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 26px;
  line-height: 20px;
  color: #555;
}
/* line 88, ../../../../src-scss/sidebar.scss */
#sidebar #search input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 94, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results {
  font-size: 14px;
  position: relative;
  left: 28px;
  width: auto;
  top: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  border: none;
  padding: 10px 0;
  margin: 2px 0 0;
  background: white;
  border-radius: 0 !important;
  z-index: 999999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 111, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li {
  line-height: 20px;
  display: table-row;
  white-space: nowrap;
  color: #333;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 118, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li a, #sidebar #search .search-results li a:visited {
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  cursor: pointer;
  font-size: 12px;
  border: none;
  text-decoration: none;
  color: #333;
}
/* line 129, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li a:hover {
  color: #929292;
}
/* line 136, ../../../../src-scss/sidebar.scss */
#sidebar .tree {
  position: absolute;
  left: 20px;
  right: 0;
  top: 150px;
  bottom: 69px;
  overflow-y: scroll;
}
/* line 145, ../../../../src-scss/sidebar.scss */
#sidebar .footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 20px;
  right: 20px;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid #929292;
  padding-top: 8px;
  color: #929292;
}
/* line 156, ../../../../src-scss/sidebar.scss */
#sidebar .footer a, #sidebar .footer a:visited, #sidebar .footer a:hover {
  font-size: 24px;
  color: #929292;
}
/* line 161, ../../../../src-scss/sidebar.scss */
#sidebar .footer p {
  font-size: 12px;
  line-height: 12px;
  padding-top: 2px;
}
/* line 168, ../../../../src-scss/sidebar.scss */
#sidebar #resizer {
  position: absolute;
  right: 0px;
  width: 5px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
}
