/* line 1, ../../../../src-scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 22, ../../../../src-scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 26, ../../../../src-scss/reset.scss */
body {
  line-height: 1;
}

/* line 29, ../../../../src-scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 32, ../../../../src-scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 35, ../../../../src-scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 40, ../../../../src-scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 44, ../../../../src-scss/reset.scss */
a {
  text-decoration: none;
}

/* line 1, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree {
  list-style: none;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
  font-size: 14px;
  overflow-x: hidden;
}
/* line 8, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree ul {
  margin-top: 5px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 30px;
}
/* line 15, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree > ul {
  margin-left: 0px;
}
/* line 19, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree li {
  line-height: 20px;
  margin-top: 3px;
  margin-bottom: px;
}
/* line 26, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a {
  color: #D4D4D4;
  font-weight: bold;
  white-space: nowrap;
}
/* line 31, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a i {
  margin-right: 8px;
}
/* line 35, ../../../../src-scss/sidebar-tree.scss */
#sidebar .tree a:hover {
  color: white;
}

/* line 3, ../../../../src-scss/sidebar.scss */
#sidebar {
  width: 300px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #474747;
  font-family: "Trebuchet MS",Helvetica,Arial,sans-serif;
}
/* line 13, ../../../../src-scss/sidebar.scss */
#sidebar .header {
  margin-left: 20px;
  margin-top: 20px;
}
/* line 17, ../../../../src-scss/sidebar.scss */
#sidebar .header img {
  width: 60px;
  display: inline-block;
}
/* line 22, ../../../../src-scss/sidebar.scss */
#sidebar .header div {
  position: absolute;
  left: 20px;
  top: 10px;
}
/* line 27, ../../../../src-scss/sidebar.scss */
#sidebar .header div h1 {
  font-weight: normal;
  line-height: 26px;
  font-size: 24px;
  padding-left: 70px;
  padding-top: 15px;
  margin: 0 0 0 10px;
  color: white;
}
/* line 37, ../../../../src-scss/sidebar.scss */
#sidebar .header div h6 {
  font-weight: normal;
  line-height: 20px;
  font-size: 16px;
  padding-left: 70px;
  margin: 0 0 0 10px;
  color: #B8B8B8;
}
/* line 48, ../../../../src-scss/sidebar.scss */
#sidebar #search {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: auto;
  position: relative;
  height: 30px;
}
/* line 56, ../../../../src-scss/sidebar.scss */
#sidebar #search i {
  color: #fff;
  font-size: 14px;
  margin-top: 8px;
}
/* line 62, ../../../../src-scss/sidebar.scss */
#sidebar #search .search div {
  position: absolute;
  right: 40px;
  left: 23px;
  top: 0;
}
/* line 69, ../../../../src-scss/sidebar.scss */
#sidebar #search input {
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  width: 100%;
  height: 26px;
  line-height: 20px;
  color: #555;
}
/* line 88, ../../../../src-scss/sidebar.scss */
#sidebar #search input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}
/* line 94, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results {
  font-size: 14px;
  position: relative;
  left: 28px;
  width: auto;
  top: 0;
  list-style: none;
  display: table;
  table-layout: fixed;
  border: none;
  padding: 10px 0;
  margin: 2px 0 0;
  background: white;
  border-radius: 0 !important;
  z-index: 999999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 111, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li {
  line-height: 20px;
  display: table-row;
  white-space: nowrap;
  color: #333;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 118, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li a, #sidebar #search .search-results li a:visited {
  padding-left: 10px;
  padding-right: 10px;
  background: none;
  cursor: pointer;
  font-size: 12px;
  border: none;
  text-decoration: none;
  color: #333;
}
/* line 129, ../../../../src-scss/sidebar.scss */
#sidebar #search .search-results li a:hover {
  color: #929292;
}
/* line 136, ../../../../src-scss/sidebar.scss */
#sidebar .tree {
  position: absolute;
  left: 20px;
  right: 0;
  top: 150px;
  bottom: 69px;
  overflow-y: scroll;
}
/* line 145, ../../../../src-scss/sidebar.scss */
#sidebar .footer {
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 20px;
  right: 20px;
  text-shadow: -1px 1px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid #929292;
  padding-top: 8px;
  color: #929292;
}
/* line 156, ../../../../src-scss/sidebar.scss */
#sidebar .footer a, #sidebar .footer a:visited, #sidebar .footer a:hover {
  font-size: 24px;
  color: #929292;
}
/* line 161, ../../../../src-scss/sidebar.scss */
#sidebar .footer p {
  font-size: 12px;
  line-height: 12px;
  padding-top: 2px;
}
/* line 168, ../../../../src-scss/sidebar.scss */
#sidebar #resizer {
  position: absolute;
  right: 0px;
  width: 5px;
  top: 0;
  bottom: 0;
  cursor: col-resize;
}

/* line 1, ../../../../src-scss/content-header.scss */
#main .header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 52px;
  background-color: #929292;
  border-top: 10px solid #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  z-index: 999;
}
/* line 13, ../../../../src-scss/content-header.scss */
#main .header ul.path {
  padding-top: 18px;
  margin-left: 15px;
}
/* line 18, ../../../../src-scss/content-header.scss */
#main .header ul.path li {
  display: inline;
  color: #fff;
}
/* line 22, ../../../../src-scss/content-header.scss */
#main .header ul.path li a, #main .header ul.path li a:hover, #main .header ul.path li a:visited {
  color: #fff;
}
/* line 26, ../../../../src-scss/content-header.scss */
#main .header ul.path li span {
  color: #ccc;
  padding-left: 5px;
}
/* line 32, ../../../../src-scss/content-header.scss */
#main .header ul.path :last-child {
  color: #ccc;
}
/* line 37, ../../../../src-scss/content-header.scss */
#main .header .right {
  position: absolute;
  height: 30px;
  right: 0px;
  top: 10px;
}
/* line 43, ../../../../src-scss/content-header.scss */
#main .header .right .version {
  line-height: 28px;
  display: inline-block;
  border: 1px solid #A7A7A7;
  color: #474747;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
  background-color: white;
  position: absolute;
  right: 200px;
  white-space: pre;
}
/* line 56, ../../../../src-scss/content-header.scss */
#main .header .right .version:hover {
  border: 1px solid #A7A7A7;
  background: #E8E8E8;
}
/* line 61, ../../../../src-scss/content-header.scss */
#main .header .right .version:focus {
  border: 1px solid #A7A7A7;
  background: #E8E8E8;
}
/* line 67, ../../../../src-scss/content-header.scss */
#main .header .right .version-toggle {
  background-color: #e6e6e6;
}
/* line 71, ../../../../src-scss/content-header.scss */
#main .header .right .support-icon {
  display: inline-block;
  font-size: 20px;
  color: #fff;
  border: 1px solid #393939;
  background: #474747;
  padding: 4px 12px;
  border-radius: 4px;
  text-align: center;
  vertical-align: middle;
  margin-left: 11px;
  position: absolute;
  top: 0px;
  right: 140px;
}
/* line 87, ../../../../src-scss/content-header.scss */
#main .header .right .meta {
  display: inline-block;
  font-size: 12px;
  color: #ccc;
  height: 20px;
  position: absolute;
  right: 0px;
  top: 2px;
  width: 120px;
}
/* line 97, ../../../../src-scss/content-header.scss */
#main .header .right .meta p {
  padding-bottom: 4px;
}
/* line 101, ../../../../src-scss/content-header.scss */
#main .header .right .meta a, #main .header .right .meta a:hover, #main .header .right .meta a:visited {
  color: #fff;
}
/* line 106, ../../../../src-scss/content-header.scss */
#main .header .right #version-toggle {
  font-size: 14px;
  position: relative;
  left: -50px;
  top: 30px;
  list-style: none;
  border: none;
  padding: 10px 0;
  margin: 2px 0 0;
  border-left: 5px solid #929292;
  background: white;
  border-radius: 0 !important;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  z-index: 999999;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* line 122, ../../../../src-scss/content-header.scss */
#main .header .right #version-toggle li {
  line-height: 20px;
  display: list-item;
  white-space: nowrap;
  color: #333;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
/* line 129, ../../../../src-scss/content-header.scss */
#main .header .right #version-toggle li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  margin-left: -5px;
}
/* line 140, ../../../../src-scss/content-header.scss */
#main .header .right #version-toggle li a, #main .header .right #version-toggle li a:hover, #main .header .right #version-toggle li a:focus {
  background: none;
  cursor: pointer;
  font-size: 12px;
  border: none;
  border-left: 5px solid #929292;
  text-decoration: none;
}
/* line 149, ../../../../src-scss/content-header.scss */
#main .header .right #version-toggle li a:hover {
  border-left-color: #474747;
  color: #929292;
}

/* line 3, ../../../../src-scss/content.scss */
#main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  right: 0;
}

/* line 11, ../../../../src-scss/content.scss */
#content {
  position: absolute;
  left: 0;
  right: 0px;
  bottom: 0;
  top: 60px;
  overflow-y: scroll;
  padding-left: 37px;
  padding-right: 30px;
  padding-top: 10px;
  overflow: auto;
  color: #474747;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
}
/* line 28, ../../../../src-scss/content.scss */
#content h1 {
  color: #474747;
  font-weight: normal;
  line-height: 30px;
  font-size: 28px;
  margin: 20px 0;
}
/* line 36, ../../../../src-scss/content.scss */
#content a, #content a:visited, #content a span {
  cursor: pointer;
  color: #428bca;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 42, ../../../../src-scss/content.scss */
#content a:hover, #content a:hover span {
  text-decoration: underline;
}
/* line 46, ../../../../src-scss/content.scss */
#content p {
  margin-bottom: 10px;
}
/* line 50, ../../../../src-scss/content.scss */
#content h2 {
  font-weight: normal;
  color: #929292;
  font-size: 22px;
  line-height: 26px;
  margin: 10px 0;
}
/* line 58, ../../../../src-scss/content.scss */
#content label.checkbox {
  padding-top: 5px;
  margin-bottom: 0;
  min-height: 20px;
  padding-right: 10px;
}
/* line 65, ../../../../src-scss/content.scss */
#content > div {
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}
/* line 70, ../../../../src-scss/content.scss */
#content div.head {
  margin: 0;
  padding: 0;
}
/* line 74, ../../../../src-scss/content.scss */
#content div.head h3 {
  margin-bottom: 5px;
}
/* line 78, ../../../../src-scss/content.scss */
#content div.head ul {
  margin-bottom: 20px;
  margin-left: 20px;
  list-style-type: disc;
}
/* line 85, ../../../../src-scss/content.scss */
#content .line-bottom {
  border-bottom: 1px solid #d1d1d1;
}
/* line 89, ../../../../src-scss/content.scss */
#content h2 {
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 5px;
}
/* line 94, ../../../../src-scss/content.scss */
#content h3 {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
}
/* line 100, ../../../../src-scss/content.scss */
#content strong {
  font-weight: bold;
}
/* line 104, ../../../../src-scss/content.scss */
#content .reg {
  margin-bottom: 10px;
}
/* line 107, ../../../../src-scss/content.scss */
#content .reg .description {
  margin: 10px 0 0 40px;
  font-size: 14px;
  background: #F1F1F1;
  padding: 10px 10px 0px 10px;
  border: 1px solid #E8E8E8;
}
/* line 115, ../../../../src-scss/content.scss */
#content .reg .params {
  padding-left: 10px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 121, ../../../../src-scss/content.scss */
#content .reg i.types, #content .reg i.types a, #content .reg i.types a:visited {
  font-style: normal;
  color: #7E7E7E;
  line-height: 20px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 128, ../../../../src-scss/content.scss */
#content .reg i.types a:hover {
  text-decoration: underline;
}
/* line 132, ../../../../src-scss/content.scss */
#content .reg i.types i:before {
  content: ' | {';
}
/* line 136, ../../../../src-scss/content.scss */
#content .reg i.types i:first-child:before {
  content: '{';
}
/* line 140, ../../../../src-scss/content.scss */
#content .reg i.types i:after {
  content: '}';
}
/* line 144, ../../../../src-scss/content.scss */
#content .reg .return {
  padding-left: 10px;
  line-height: 20px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 151, ../../../../src-scss/content.scss */
#content .description .member {
  margin-bottom: 10px;
}
/* line 154, ../../../../src-scss/content.scss */
#content .description .member p {
  font-size: 16px;
}
/* line 159, ../../../../src-scss/content.scss */
#content .enum-fields {
  border-left: 1px solid #d1d1d1;
  margin: 10px 10px 10px 30px;
  font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, monospace;
}
/* line 164, ../../../../src-scss/content.scss */
#content .enum-fields li {
  line-height: 20px;
  padding-left: 10px;
}
/* line 169, ../../../../src-scss/content.scss */
#content .enum-fields span {
  color: #7E7E7E;
}
/* line 174, ../../../../src-scss/content.scss */
#content h4 {
  font-weight: bold;
}
/* line 178, ../../../../src-scss/content.scss */
#content .code-sample {
  margin-top: 10px;
}

/* line 5, ../../../../src-scss/styles.scss */
body {
  min-width: 800px;
}

/* line 9, ../../../../src-scss/styles.scss */
#main {
  min-width: 500px;
}

/* line 13, ../../../../src-scss/styles.scss */
#locker {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
}
